/* #infon {
    background: url(https://images.unsplash.com/photo-1486286701208-1d58e9338013?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat;
    background-size: cover;
    height: 1000px;
} */

body {
  background-color: #171c21;
}

/* button {
  width: 600px;
  margin-top: 30px;
} */

#textback {
  background: #008cba;
}

#info {
  color: #200610;
  margin-top: 150px;
  margin-bottom: 150px;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
}

#infon input {
  margin-top: 200px;
  background-color: transparent;
}

.container {
  position: relative;
  width: 1000px;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* .image {
    border-radius: 20px;
    width: 970px;
    height: 600px;
  } */

/* .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  background-color: #171c21;
  opacity: 0.7;
}

.container:hover .overlay {
  width: 100%;
} */

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

img {
  height: 700px;
  /* width: 100%;
  height: auto; */
}
