body{
    color: #fff;
    background-image: url("https://wallpapercave.com/wp/wp6871871.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;

    }
    .form-control-borderless {
        border: none;
    }
    
    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }


.container {
        margin-top: 15px;
        font-family: poppins;
        font-size: 20px;
      }


.form-box {
background-color: rgba(0, 0, 0, 0.678);
margin: auto auto;
padding: 40px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
position: absolute;
top: 50px;
bottom: 0;
left: 0;
right: 0;
width: 500px;
height: 380px;
}

.form-box:before {
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  filter: blur(1px);
}

.form-box1 {
  background-color: rgba(0, 0, 0, 0.486);
  text-align: center;
  font-size: 30px;
  font-style:bold;
  margin: auto auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 380px;
}
.form-box:before {
  /* background-image: url("https://wallpaperaccess.com/full/1337873.jpg"); */
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  filter: blur(1px);
}
     
.form-box .header-text {
        color: white;
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 30px;
        text-align: center;
      }

      
.form-box input {
  margin: 10px 0px;
  background-color: #d9d9d9;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 104%;
  font-size: 22px;
  font-family: poppins;
}
.form-box button {
  background-color: #737373;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 99.5%;
  font-size: 22px;
  padding: 10px;
  margin: 20px 0px;
}

button:hover {
  background-color: black;
}

::placeholder {
  color: #262626;
}
      
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: hand;
  background-color: grey;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #000000;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.acc {
  /* font-family: "Playfair Display", serif; */
  font-family: poppins;
  font-size: 40px;
}