{% extends 'ProSoccerPredictor/base.html' %}

{% block content %}
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}
section{
    font-family: 'Playfair Display', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.image{
    background: url("https://images.unsplash.com/photo-1560272564-c83b66b1ad12?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&w=1000&q=80") center/cover no-repeat;
}
.content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.links{
    margin: 15px 0;
}
.links li{
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links li:hover{
    border-color: #06d6a0;
}
.links li:hover a{
    color :#06d6a0;
}
.vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #06d6a0;
}


/*****************/

@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}
</style>

<section class="mt-4 mb-4">
    <div class = "image">
        <!-- image here -->
    </div>

    <div class = "content">
        <h2 class="mt-2">About Us</h2>
        <span></span>

        <p>As one of the most popular sports on the planet, football has always been followed very closely
            by a large number of people. In recent years, new types of data have been collected for many
            games in various countries, such as play-by-play data including information on each shot or
            pass made in a match. Website is specifically developed for football prediction and analysis.
            Player Analysis is displayed through graphs and match outcome is predicted along with goals scored by each team.</p>

        <ul class = "links">
            <li><a href = "#">Parva B</a></li>

            <div class = "vertical-line"></div>

            <li><a href = "#">Rachit M</a></li>

            <div class = "vertical-line"></div>
            
            <li><a href = "#">Vishant M</a></li>
            
            <div class = "vertical-line"></div>

            <li><a href = "#">Abhishek P</a></li>
                
                
        </ul>

        <ul class = "icons">
            {% comment %} <li>
                <i class = "fa fa-twitter"></i>
            </li>
            <li>
                <i class = "fa fa-facebook"></i>
            </li> {% endcomment %}
            
            <li>
                {% comment %} <a href="/home" class="icon-block">
                <i class="icon-home icon-4x"></i>
                <span>Home</span>
                </a> {% endcomment %}

                <a href='https://github.com/Abhi0010/ProSoccerPredictor'><i class = "fa fa-github"></i></a>
            </li>
            {% comment %} <li>
                <i class = "fa fa-pinterest"></i>
            </li> {% endcomment %}
        </ul>
    </div>
</section>
{% endblock content %}
    
          
